img{
	width:300px;
	height:300px;
	margin:5px;
}

img:hover{
	cursor:pointer; cursor:hand;
}

.section{
	margin: 0 auto;
	width: 85%;
	margin-bottom:20px;
	padding-bottom:20px;
}

body{
	font-size: 40px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#playing{
	background: black;
	color:white;
	font-size: 30px;
	position:fixed;
	z-index: 1;
	right: 5%;

}
